<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mantoto.product.dao.ICouponDao">
  <sql id="column_List" >BTime,ETime,CouponId,Instruction,FilterJson,CTime,ProductId</sql>
  <sql id="sql_Where" >
<trim><if test="bTime != null and bTime!= '' "> 
and  BTime = #{bTime}   
</if>
<if test="eTime != null and eTime!= '' "> 
and  ETime = #{eTime}   
</if>
 <if test="couponId>0">  
and CouponId = #{couponId} 
</if>
<if test="instruction != null and instruction!= '' "> 
and  Instruction = #{instruction}   
</if>
<if test="filterJson != null and filterJson!= '' "> 
and  FilterJson = #{filterJson}   
</if>
<if test="cTime != null and cTime!= '' "> 
and  CTime = #{cTime}   
</if>
 <if test="productId>0">  
and ProductId = #{productId} 
</if>

</trim></sql>
<select id="selectByIdCoupon"   parameterType="java.lang.String"  resultMap="coupon" >
select <include refid="column_List" /> from Coupon where CouponId =#{couponId}</select>
<select id="selectCountCoupon"   parameterType="com.mantoto.product.model.Coupon"  resultType="java.lang.Integer" >
select count(CouponId) from Msg_Coupon where 1=1<include refid="sql_Where" /></select>
<delete id="deleteCoupon" parameterType="java.lang.String">
</delete>
<update id="updateCoupon" parameterType="com.mantoto.product.model.Coupon" >
 UPDATE Msg_Coupon  <trim prefix="SET" suffixOverrides=",">   
<if test="bTime != null and bTime!= '' "> 
BTime = #{bTime},
</if>
<if test="eTime != null and eTime!= '' "> 
ETime = #{eTime},
</if>
<if test="instruction != null and instruction!= '' "> 
Instruction = #{instruction},
</if>
<if test="filterJson != null and filterJson!= '' "> 
FilterJson = #{filterJson},
</if>
<if test="cTime != null and cTime!= '' "> 
CTime = #{cTime}
</if></trim> where CouponId=#{couponId} </update>
<insert id="insertCoupon" parameterType="com.mantoto.product.model.Coupon" > 
insert into Msg_Coupon (BTime,ETime,CouponId,Instruction,FilterJson,CTime,ProductId)values(#{bTime},#{eTime},#{couponId},#{instruction},#{filterJson},#{cTime},#{productId})</insert>  
<select id="selectCoupon"   parameterType="com.mantoto.product.model.Coupon"  resultMap="coupon" >
select  top ${pageSize} <include refid="column_List" /> from Msg_Coupon  where CouponId not in (select top ${bigenRow} CouponId from Msg_Coupon  where 1=1 <include refid="sql_Where" />) and 1=1<include refid="sql_Where" /></select>
<resultMap type="com.mantoto.product.model.Coupon" id="coupon"> 
 <id property="couponId" column="CouponId" /> 
<result property="bTime" column="BTime" /> 
<result property="eTime" column="ETime" /> 
<result property="instruction" column="Instruction" /> 
<result property="filterJson" column="FilterJson" /> 
<result property="cTime" column="CTime" /> 
<result property="productId" column="ProductId" /> 
</resultMap> 
</mapper> 