<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mantoto.product.dao.IProductTypeDao">
  <sql id="column_List" >IsValid,ParamterJson,RootId,ProductTypeId,ProductTypeName</sql>
  <sql id="sql_Where" >
<trim>
<if test="paramterJson != null and paramterJson!= '' "> 
and  ParamterJson = #{paramterJson}   
</if>
 <if test="rootId>0">  
and RootId = #{rootId} 
</if>
 <if test="productTypeId>0">  
and ProductTypeId = #{productTypeId} 
</if>
<if test="productTypeName != null and productTypeName!= '' "> 
and  ProductTypeName = #{productTypeName}   
</if>

</trim></sql>
<select id="selectByIdProductType"   parameterType="java.lang.String"  resultMap="productType" >
select <include refid="column_List" /> from ProductType where ProductTypeId =#{productTypeId}</select>
<delete id="deleteProductType" parameterType="java.lang.String">
</delete>
<update id="updateProductType" parameterType="com.mantoto.product.model.ProductType" >
 UPDATE Msg_ProductType  <trim prefix="SET" suffixOverrides=",">   
<if test="paramterJson != null and paramterJson!= '' "> 
ParamterJson = #{paramterJson},
</if>
 <if test="rootId>0">  
RootId = #{rootId} ,
</if>
<if test="productTypeName != null and productTypeName!= '' "> 
ProductTypeName = #{productTypeName}
</if></trim> where ProductTypeId=#{productTypeId} </update>
<insert id="insertProductType" parameterType="com.mantoto.product.model.ProductType" > 
insert into Msg_ProductType (IsValid,ParamterJson,RootId,ProductTypeId,ProductTypeName)values(#{isValid},#{paramterJson},#{rootId},#{productTypeId},#{productTypeName})</insert>  
<select id="selectProductType"   parameterType="com.mantoto.product.model.ProductType"  resultMap="productType" >
select  top ${pageSize} <include refid="column_List" /> from Msg_ProductType  where ProductTypeId not in (select top ${bigenRow} ProductTypeId from Msg_ProductType  where 1=1 <include refid="sql_Where" />) and 1=1<include refid="sql_Where" /></select>
<resultMap type="com.mantoto.product.model.ProductType" id="productType"> 
 <id property="productTypeId" column="ProductTypeId" /> 
<result property="isValid" column="IsValid" /> 
<result property="paramterJson" column="ParamterJson" /> 
<result property="rootId" column="RootId" /> 
<result property="productTypeName" column="ProductTypeName" /> 
</resultMap> 
<select id="selectCountProductType"   parameterType="com.mantoto.product.model.ProductType"  resultType="java.lang.Integer" >
select count(ProductTypeId) from Msg_ProductType where 1=1<include refid="sql_Where" /></select>
</mapper> 